h1{
	text-align: center;
	margin-top: 10px;
}
h2{
	text-align:  center;
	margin-top: 10px;
}

.immagine{
	display: flex;
	justify-content: center;
	margin-top:70px;
	

}

button{
		
	display:flex;
	width: 350px;
	height: 170px;
	margin:40px;
	
	justify-content:center;
	
	background-color: buttonshadow;
	border-radius: 120px;
	box-shadow: inset 0 0 0 0 black;
	
	font-size:2rem;
	
	

}
button a{
	margin-top:50px;
	
}
