body {
	
  margin: 0;
  
   position: static;
  background: linear-gradient(rgba(100,100,100, 0.6), rgba(0, 0, 0, 0.3)),
    no-repeat left/cover url(/images/Chefs.jpg)  ;
     color: white;
     background-size: cover;
}


.lista{
	
	
	margin: 50px;
	display:flex;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

h1{
	text-align: center;
	margin-top:50px;
	
}

.elenco{
	
	display: flex;
	flex-direction:column;
	align-items: center;
	
	
}

.chefs{
	display: inline-flex;
	 flex-wrap: wrap;
	 justify-content: space-around;
	 
	
}
img{
	border-radius:30px;
	
}


.punto{
	
	border-color:gray;
	border-style:solid;
	
	flex-direction:column;
	display:flex;
	width: 300px;
	height: 350px;
	margin-top:50px;
	margin-right:100px;
	margin-bottom:50px;
	padding:20px;
	background-color: white ;
	box-shadow: inset 0 0 0 0 grey;
	
	
	
	justify-content:center;
	
	border-radius: 6px;
	
	

}

.punto:hover{
	box-shadow: inset 500px 0 0 0 grey;
}

.nome{
	font-size: 40px;
	text-align: center;
	padding-top: 20px;
}

.PUNTO{
	
	display:flex;
	width: 400px;
	height: 200px;
	margin:200px;
	
	justify-content:center;
	
	background-color: grey;
	border-radius: 6px;
	box-shadow: inset 0 0 0 0 grey;
	transition:ease-out 0.4s;	

}

.PUTNTO:hover {
	font-size:35px;
	box-shadow: inset 400px 0 0 0 black;
	cursor:pointer;
	color:black;
	
}

.Aggiungi{
		
	display:flex;
	width: 350px;
	height: 170px;
	margin:40px;
	
	justify-content:center;
	
	background-color: #00ffff;
	border-radius: 120px;
	box-shadow: inset 0 0 0 0 black;
	
	font-size:2rem;
}
.Aggiungi h5{
	margin-top:55px;
}