<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/my-style.css}" rel="stylesheet" />

<title>Inserimento persona</title>
</head>
<body>

<header th:replace="fragments/base.html :: intestazione"></header>

	<form th:action="@{/buffet}" method="POST" th:object="${buffet}">
	

		<div th:if="${#fields.hasGlobalErrors()}">
		 <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore</p>
		</div>


		<div>
			Nome:<input type="text" th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
			
		</div>
		
		<div>
			Descrizione:<input type="text" th:field="*{descrizione}" />
			<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
		</div>
		
		<div>
				<select name="chef" roleId="chef" id="chef"
					th:field="*{chef}">
					<option value=" ">Chef</option>
					<option th:each="chef : ${chefs}"
						th:value="${chef.id}"
						th:text="${chef.nome}"></option>

				</select>
			</div>
		
		
		
		<div>
			<button type="submit"> Conferma </button></div>

	</form>
	
		<footer th:replace="fragments/base.html :: footer"></footer>
	</body>
	</html>