<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/buffets.css}" rel="stylesheet" />
<title>Persone</title>
</head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
	<div>
	<div class="titolo">
		<h1>Tutti i Buffet disponibili</h1>
	</div>	
	
		<div class="elenco">
				<li class= "punto" th:each="buffet : ${buffets}"><a href="buffet.html"
					th:href="@{'/buffet' + '/' + ${buffet.id}}" th:text="|${buffet.nome} |">Buffetefefef
				</a></li>
			</div>
		
		
		
		
		
	</div>

<div class="bottoni">
  <div th:if="${credentials}">
        <div class="Aggiungi">
		  <h5>
            <a href="buffetForm">Aggiungi Buffet</a>
            </h5>
            </div>

           </div>
         
          <div th:if="${credentials}">
        <div class="Aggiungi">
		  <h5>
            <a href="piattoForm">Aggiungi Piatto</a>
            </h5>
            </div>

           </div>
        </div> 



	
	

	
	
</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>