<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="headerfiles(title)">

  <link th:href="@{/css/my-style.css}" rel="stylesheet" />
    <link th:href="@{/css/buffet.css}" rel="stylesheet" />

<title th:text="${title}">Buffet</title>
</head>
<body>

<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
	
	
		
		
		
		 <div class="nome">
			<h1 th:text="${buffet.nome}">Paolo</h1>
			</div>
			<div class="chef">
			<div class="text"><h2>Nome dello Chef:</h2> </div>
			<div class="nomeChef">
			<h2 th:text="${buffet.chef.nome}">Rossi</h2>
			</div></div>
			
			<div class="descrizione">
			Descrizione:    <span th:text="${buffet.descrizione}">Rossi</span>
			</div>
			
			
		
		
	   <div class="elenco">
				<li class= "punto" th:each="piatto : ${listapiatti}"><a href="piatto.html"
					th:href="@{'/piatto' + '/' + ${piatto.id}}" th:text="|${piatto.nome} |">Buffetefefef
				</a></li>
			</div>
			
			
			
		
		
		
		
	</div>
	  <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>