<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="headerfiles(title)">

  <link th:href="@{/css/my-style.css}" rel="stylesheet" />
    <link th:href="@{/css/buffet.css}" rel="stylesheet" />

<title th:text="${title}">Buffet</title>
</head>
<body>

<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
	
	
		
		
		
		 <div class="descrizione">
			<h1 th:text="${buffet.nome}">Paolo</h1>
			<h2 th:text="${buffet.descrizione}">Rossi</h2>
			<h2 th:text="${buffet.chef.nome}">Rossi</h2>
			
		</div>
		
		<div class="lista">
				<li th:each="piatto : ${patti}"><a href="piatto.html"
					th:href="@{'/piatto' + '/' + ${piatto.id}}" th:text="|${piatto.nome} |">Buffetefefef
				</a></li>
			</div>
			
			
			
					<div th:each="piatto : ${piatti}">
			
			
			<div class="opere">
			
			
			
			
			
			
			<a href="piatto.html"
			
				th:href="@{'/piatto' + '/' + ${piatto.id}}" th:text="${piatto.nomr}  "
				
				>nome
					opera</a>
					
			
					
            
	           
	  </div>
	 </div>
		
		
		
		
		
	</div>
	  <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>