<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/chefs.css}" rel="stylesheet" />
<link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
<title>Chefs</title>
</head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
	<div class="titolo">
		<h1>Questi sono i nostri Chef</h1>
	</div>
	
		
		
			<div class="elenco">
			<div class="chefs">
		
			<div th:each="chef : ${chefs}">				
			<div class="punto">
			<img th:src="${chef.immagine}" height="300" width="auto">
			
			
			<div class="nome">
			<a href="chef.html"
			th:href= "@{'/chef' + '/' + ${chef.id}}" th:text="|${chef.nome} |">>nome	opera</a>
			</div>
			</div>
			
			</div>       
	  </div>
	 </div>
			
		<!--  	<li class="punto"
				th:each="chef : ${chefs}"><a href="chef.html"
					th:href="@{'/chef' + '/' + ${chef.id}}" th:text="|${chef.nome} |">Buffetefefef
				</a></li>
				
				
			</div> -->
		
		</div>
	
	<div th:if="${credentials}">
        <div class="Aggiungi">
		  <h5>
            <a href="chefForm">Aggiungi Chef</a>
            </h5>
            </div>

           </div>
	

	</div>
	 <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>