<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="headerfiles(title)">

  <link th:href="@{/css/my-style.css}" rel="stylesheet" />
  <link th:href="@{/css/chef.css}" rel="stylesheet" />
  
  <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

<title th:text="${title}">Buffet</title>
</head>
<body>

<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		
		
		
		
		<div>
		<div class="immagine">
      <img th:src="${chef.immagine}" height="500" width="auto">
      </div>
			<h1 th:text="${chef.nome}">Paolo</h1>
			<h1 th:text="${chef.cognome}">Rossi</h1>
			<h2 th:text="${chef.nazionalita}">Rossi</h2>
			
		</div>
		
		
		
		
	</div>
	  
        <div>
            <form  th:action="@{'/modifica'+'/' + ${chef.id}}"
                method="GET">
                <button class="sub-button" type="submit" th:text="#{modifica.chef}"> Modifica</button>
            </form>
        </div>
        <!-- >div>
            <form th:if="${credentials.role == 'ADMIN'}" th:action="@{'/admin/modificaChef' + '/' + ${chef.id}}"
                method="GET">
                <button class="sub-button" type="submit" th:text="#{modifica.chef}"  style="margin-left:44%;"></button>
            </form>
        </div-->
        
	  <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>