<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="headerfiles(title)">

  <link th:href="@{/css/my-style.css}" rel="stylesheet" />
  <link th:href="@{/css/chef.css}" rel="stylesheet" />

<title th:text="${title}">Buffet</title>
</head>
<body>

<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		
		
		
		
		<div>
		<div class="immagine">
      <img th:src="${piatto.immagine}" height="500" width="auto">
      </div>
			<h1 th:text="${chef.nome}">Paolo</h1>
			<h1 th:text="${chef.cognome}">Rossi</h1>
			<h2 th:text="${chef.nazionalita}">Rossi</h2>
			
		</div>
		
		
		
		
	</div>
	  <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>