<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="headerfiles(title)">

<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/index.css}" rel="stylesheet" />


<title>Museo</title>
</head>
<body>

	<header th:replace="fragments/base.html :: intestazione"></header>
	
	

	
	
	<header th:replace="fragments/base.html :: foto">
	
	</header>
	
	
	
	<div class="cards">
		<div class="section_card">
            <div class="inner-container">
              <h1>In codice Ratio:</h1>
              <strong>Machine Learning meets Digital Humanities</strong>
              Read the
              <a
                href="https://www-technologyreview-com.cdn.ampproject.org/c/s/www.technologyreview.com/s/610530/ai-tackles-the-vaticans-secrets/amp"
                >MIT Technology Review article</a
              >
              <ul>
                <li>
                  Lorenzo Lastilla, Serena Ammirati, Donatella Firmani, Nikos
                  Komodakis, Paolo Merialdo, Simone Scardapane.
                  <a
                    href="https://www.sciencedirect.com/science/article/pii/S0306457322000097"
                    >Self-supervised learning for medieval handwriting
                    identification: A case study from the Vatican Apostolic
                    Library</a
                  >
                  Information Processing &amp; Management 59:3 (2022)
                </li>
                <li>
                  Elena Nieddu, Donatella Firmani, Paolo Merialdo, Marco
                  Maiorino.
                  <a
                    href="https://www.sciencedirect.com/science/article/pii/S0306457321001035"
                    >In Codice Ratio: A crowd-enabled solution for low resource
                    machine transcription of the Vatican Registers</a
                  >
                  Information Processing &amp; Management 58:2 (2021)
                </li>
                <li>
                  Donatella Firmani, Marco Maiorino, Paolo Merialdo, Elena
                  Nieddu
                  <a href="https://dl.acm.org/doi/abs/10.1145/3219819.3219879"
                    >Towards Knowledge Discovery from the Vatican Secret
                    Archives. In Codice Ratio-Episode 1: Machine Transcription
                    of the Manuscripts.</a
                  >
                  ACM KDD 2018
                </li>
              </ul>
            </div>
          </div>

          <div class="section_card2">
            <div class="inner-container2">
              <h1>Explainable AI for Big Data Management Issues:</h1>
              <ul>
                <li>
                  Vincenzo Di Cicco, Donatella Firmani, Nick Koudas, Paolo
                  Merialdo, Divesh Srivastava
                  <a href="https://dl.acm.org/citation.cfm?doid=3329859.3329878"
                    >Interpreting deep learning models for entity resolution: an
                    experience report using LIME</a
                  >: Explaining Deep Learning Models for Entity Resolution..
                  Second International Workshop on Exploiting Artificial
                  Intelligence Techniques for Data Management.
                  <a href="https://github.com/merialdo/research.mojito"
                    >Code on github</a
                  >
                </li>
                <li>
                  Tommaso Teofili, Donatella Firmani, Nick Koudas, Vincenzo
                  Martello, Paolo Merialdo, Divesh Srivastava:
                  <a href="https://arxiv.org/pdf/2203.12978.pdf"
                    >Effective Explanations for Entity Resolution Models</a
                  >i IEEE ICDE 2022
                </li>
                <li>
                  Andrea Rossi, Denilson Barbosa, Donatella Firmani, Antonio
                  Matinata, Paolo Merialdo
                  <a href="https://dl.acm.org/doi/abs/10.1145/3424672"
                    >Knowledge Graph Embedding for Link Prediction: A
                    Comparative Analysis</a
                  >. ACM Transactions on Knowledge Discovery from Data 15:2 pp
                  1–49
                </li>
                <li>
                  Andrea Rossi, Donatella Firmani, Tommaso Teofili, Paolo
                  Merialdo.
                  <a href=""
                    >Explaining Link Prediction Systems based on Knowledge Graph
                    Embeddings</a
                  >. ACM Sigmod 2022
                </li>
              </ul>
            </div>
          </div>

          <div class="section_card3">
            <div class="inner-container">
              <h1>Web Data Integration:</h1>
              <ul>
                <li>Valter Crescenzi, Paolo Merialdo, Disheng Qiu. <a href="https://dl.acm.org/doi/abs/10.1145/3344720">Hybrid Crowd-Machine Wrapper Inference</a>ACM Transactions on Knowledge Discovery from Data 13:5 pp 1–43 (2019)</li>
                <li>Matteo Cannaviccio, Denilson Barbosa, Paolo Merialdo <a href="">Towards annotating relational data on the web with language models</a> 2018 World Wide Web Conference</li>
                <li>Disheng Qiu, Luciano Barbosa, Valter Crescenzi, Paolo Merialdo, Divesh Srivastava. <a href="https://dl.acm.org/doi/abs/10.1145/3183713.3183757">Big Data Linkage for Product Specification Pages</a> ACM Sigmod 2018</li>
                <li>Federico Piai, Paolo Atzeni, Paolo Merialdo, Divesh Srivastava. <a href""="">Fine-grained semantic type discovery for heterogeneous sources using clustering</a> VLDBJ 2022 (to appear)</li>
            </ul>
            </div>
          </div>
          
          </div>	
          
       <div class="select">
        <div class="card">
          <div class="nome">
            <a href="buffet">
              <h2>Lista Buffet</h2>
            </a>
          </div>
        </div>
         <div class="card">
          <div class="nome">
            <a href="piatto">
              <h2>Tutti i nostri Piatti</h2>
            </a>
          </div>
        </div>
        </div>





		


	
<footer th:replace="fragments/base.html :: footer"></footer>

</body>


</html>
