<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<link th:href="@{/css/my-style.css}" rel="stylesheet" />


<title>Museo</title>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

	<h2>Operazioni</h2>

	<div>
		<a th:href="@{/buffetForm}">Aggiungi Buffet</a>
	</div>

	<div>
		<a th:href="@{/buffet}">Lista Persona</a>
	</div>

	<div>
		<a th:href="@{/buffets}">Lista Persona</a>
	</div>

	<footer th:replace="fragments/base.html :: footer"></footer>

</body>
</html>
