<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="headerfiles(title)">

<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/index.css}" rel="stylesheet" />
<link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />


<title>AbBUFFETi</title>
</head>
<body>

	<header th:replace="fragments/base.html :: intestazione"></header>
	
	

	
	
	<header th:replace="fragments/base.html :: foto">
	
	</header>
	
	
	
	<div class="cards">
		<div class="section_card">
            <div class="inner-container">
              <h1>About Us :</h1>
              <strong>AbBUFFETi catering service :</strong>
              <a>
               </a
              >
              <ul>
                <li>
                Siamo un azienda che offre servizi di catering in tutta Italia.
                </li>
                <li>
                 La abBUFFETi catering nasce nel 1990 da unidea dei due fondatori Davide Orienti e Matteo Pizzi m negli anni
                 è cresciuta diventando una azienda leader nel settore.
                </li>
                <li>
                  Le principali attvità sono il catering e il banqueting  per matrimoni ,eventi , meeting, feste e ricevimenti.
                </li>
                 <li>
                 	 Offriamo anche il servizio di consegna a domicilio per rendere unico qualsiasi evento vogliate organizzare.
                </li>
              </ul>
            </div>
          </div>

          <div class="section_card2">
            <div class="inner-container2">
              <h1>Tipologia  Menu :</h1>
              <ul>
               
                <li>
                 Menu di Carne con piatti tipici della cucina dei Castelli e dei Monti Sibillini
                </li>
                <li>
                 Menu di Pesce disponibili 2 volte a settimana il giovedi e sabato con piatti sia crudi che cotti, piatti freschi per ogni gusto
                </li>
                <li>
                 Menu Pizza All You Can Eat sempre disponibile con molte varinti di pizza disponibile
                </li>
                <li>
                 Menu Senza Glutine con diponibilita sia pizza che primi a scelta
                </li>
               
              </ul>
            </div>
          </div>

          <div class="section_card3">
            <div class="inner-container">
              <h1>Servizi Aggiunti :</h1>
                <ul>
                <li>
                 	Possibilità di organizzazione feste a 360 gradi grazie a una serie di party planner con cui collaboriamo.
                </li>
                <li>
                  Servizio di consegna a domicilio in tutta Italia.
                </li>
                <li>
                 Collaborazione con le più illustri ville situtate nel territorio italiano.
                </li>
                <li>
                 Ogni serata un evento differente come Karaoke,All You Can Eat a prezzo fisso, Spettacoli e tanto altro
                </li>
               
              </ul>
            </div>
          </div>
          
          </div>	
          
       <div class="select">
        <div class="card">
          <div class="nome">
            <a href="buffet">
             <h2>Lista Buffet</h2>
            </a>
          </div>
        </div>
         <div class="card">
          <div class="nome">
            <a href="piatto">
              <h2>Tutti i nostri Piatti</h2>
            </a>
          </div>
        </div>
        </div>





		


	
<footer th:replace="fragments/base.html :: footer"></footer>

</body>


</html>
