<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/ingredientiForm.css}" rel="stylesheet" />
<link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

<title>IngredienteForm</title>
</head>
<body>

<header th:replace="fragments/base.html :: intestazione"></header>

<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>IngredienteForm</h2>

	<form th:action="@{/ingrediente}" method="post" th:object="${ingrediente}">

		<div th:if="${#fields.hasGlobalErrors()}">
		 <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore</p>
		</div>


		<div>
			Nome:<input type="text" class="field" th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
			
		</div>

			<div>
			Origine:<input type="text" class="field" th:field="*{origine}" />
			<div th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></div>
			
		</div>
		
		<div>
			Descrizione:<input type="text" class="field" th:field="*{descrizione}" />
			<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
		</div>
		
		<div>
				<select name="piatti" class="field" roleId="piatti" id="piatti"
					th:field="*{piatti}">
					<option value=" ">Piatto</option>
					<option th:each="piatti : ${listapiatti}"
						th:value="${piatti.id}"
						th:text="${piatti.nome}"></option>

				</select>
			</div>
		
			
		
		<div>
			<button type="submit" class="btn" > Conferma </button></div>

	</form>
			</div>
		</div>
	</div>
	
		<footer th:replace="fragments/base.html :: footer"></footer>
	</body>
	</html>