<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="headerfiles(title)">

  <link th:href="@{/css/my-style.css}" rel="stylesheet" />

<title th:text="${title}">Buffet</title>
</head>
<body>

<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		   
		<h4>Dettagli persona</h4>
		<h4 th:text="#{header.ingrediente}">...</h4>
		
		
		<div>
			<span th:text="${ingrediente.nome}">Paolo</span>
			<span th:text="${ingrediente.origine}">Rossi</span>
			<span th:text="${ingrediente.descrizione}">Rossi</span>
			
		</div>
		
		
	</div>
	  <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>