<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/loginConferma.css}" rel="stylesheet" />
<link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

 <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
 <title>loginConferma</title>
	<body>
	<div class="testo">
    	
		<h5>login effettuato con successo </h5>
	</div>
	
        <div class="continua">
           <!--button href="default" id="pulsante">Continua a navigare</button-->
            <a id="pulsante" href="default">Continua a navigare</a>
            </div>

	
	<div class="spazio">
	</div>
    <footer th:replace="fragments/base.html :: footer(home='/')"></footer>
</body>
</html>