<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<title>Persone</title>
</head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Piatti</h4>
		<ul>
			<li th:each="piatto : ${piatti}"><a href="piatto.html"
				th:href="@{'/piatto' + '/' + ${piatto.id}}"
				th:text="|${piatto.nome} |">Buffet </a></li>
		</ul>
	</div>
	
		<div class="Admin" th:if=admin>
		<a href="piattoForm">Aggiungi Piatto</a>

	</div>
	 <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>