<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="headerfiles(title)">

  <link th:href="@{/css/my-style.css}" rel="stylesheet" />
  <link th:href="@{/css/piatto.css}" rel="stylesheet" />
  <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

<title th:text="${title}">Buffet</title>
</head>
<body>

<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="blocco">
		
	
		<div class="immagine">
      <img th:src="${piatto.immagine}" height="500" width="auto">
      </div>
		
		<div class="testo">
			<div class=nome>
			<h1>Nome Piatto:</h1>
			
				<h1 th:text="${piatto.nome}">Paolo</h1>
			</div>
			<div class="origine">
			<h2>Origine:</h2>
				<h2 th:text="${piatto.origine}">Rossi</h2>
			</div>
			
			<div class="buffet">
			<h2>Si trova nel Buffet Chiamato:</h2>
				<h2 th:text="${piatto.buffet.nome}">Rossi</h2>
			</div>
			
			<div class="descrizione">
			<h3>Descrizione:</h3>
				<h3 th:text="${piatto.descrizione}">Rossi</h3>
			</div>
		</div>
		
<!--  		<div class="lista">
				<li th:each="ingrediente : ${IngredientiPiatto}"><a href="ingrediente.html"
					th:href="@{'/ingrediente' + '/' + ${ingrediente.nome}}" th:text="|${ingrediente.nome} |">Buffetefefef
				</a></li>
			</div>
			 -->	
			 
			 <div class="lista">
				<li th:each="ingrediente : ${IngredientiPiatto}"  th:text="|${ingrediente.nome} |">Buffetefefef
				</li>
			</div>
			 
         
  
      
       <!--     <div th:if="${credentials}">  
    <div class="Rimuovi">
		 <a th:href="@{'/remove'+'/'+${piatto.id}}" method="POST">Rimuovi opera</a>
            </div> 

           </div> --> 
           
           
		<div>
            <form  th:action="@{'/remove'+'/' + ${piatto.id}}"
                method="POST">
                <button class="sub-button" type="submit">Rimuovi</button>
            </form>
        </div>
        
        <div>
            <form  th:action="@{'/modifica'+'/' + ${piatto.id}}"
                method="GET">
                <button class="sub-button" type="submit">Modifica</button>
            </form>
        </div>
		
		
		
	</div>
	  <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>