<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <head th:replace="fragments/base.html :: headerfiles(title='Registra Utente')"> </head> -->
<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/register.css}" rel="stylesheet" />
 <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
 <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
 <title>Register</title>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
    	<!-- <h4 th:text="#{header.registra}">Registrazione</h4>-->
    	<div class="center">
		<h1>Register</h1>
	<form th:action="@{/register}" method="POST" th:object="${credentials}" >
	


					<div th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore</p>
					</div>
    
    
        <div class="txt_field">
            <span>Username</span>
            
            
            <span><input type="text" placeholder="username" required
                       th:field="*{username}"/></span>
            <span th:if="${#fields.hasErrors('username')}"
                th:errors="*{username}" th:style="'color:red'"></span>
        </div>
        <div class="txt_field">
            <span>Password</span>
            <span><input type="password" placeholder="password" required
                       th:field="*{password}"/></span>
            <span th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}" th:style="'color:red'"></span>
        </div>
        <div class="txt_field">
            <span>Nome</span>
            <span><input type="text" placeholder="nome" required
                       th:field="${user.nome}"/></span>
            <span th:if="${#fields.hasErrors('user.nome')}"
                th:errors="${user.nome}" th:style="'color:red'"></span>
        </div>
        <div class="txt_field">
            <span>Cognome</span>
            <span><input type="text" placeholder="cognome" required
                       th:field="${user.cognome}"/></span>
            <span th:if="${#fields.hasErrors('user.cognome')}"
                th:errors="${user.cognome}" th:style="'color:red'"></span>
        </div>
        <div>
           <span><input type="submit" value="Register"/></span>
            
            <div class="signup_link">
                 <a th:href="login">Login</a>
            </div>
        </div>
 
	</form>
	   </div>
	</div>
	<div class="spazio"> 
	</div>
    
   
</body>
</html>
